@import url('https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans:wght@500&display=swap');

body{
    font-family: 'Lato', sans-serif;
    max-width: 80%;
    margin: 0px auto;
    width: 100%;
    display: block;
}

textarea{
    margin: 20px;
    padding: 1rem;
    border: 2px solid blue;}