@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');

:root{
    --primary-color:#f2c300;
    --secondary-color: #00b844;
    --third-color: #df0000;
}
body {
    font-family: 'kalam', cursive;
    margin: 0px auto;
    max-width: 80%;
    
}

.heading {
background-color: var(--primary-color);
text-align: center;
    display: block;

}


.container {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-evenly;
    width: 80%;
    margin: auto;
    padding: 10px;
}

img {
    padding-top: 50px;;
}

.translate {
    margin-top: 50px;
}

.footer {
    background-color: var(--primary-color);
    text-align: center;
    display: block;
}
